.cardWrapper {
  min-width: 300px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  transition: all 0.5s ease-out;
  min-height: 211px;
  height: 211px;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.loaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.noDataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: grey;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
